<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card text-white bg-secondary mb-4" *ngFor="let index of location.centers">
                <div class="card-body">
                    <p class="card-text" >
                        </p>
                    </div>
            </div> -->
        <div class="table-responsive">
            <table class="table table-striped  ">
                <thead>
                    <th>CenterID</th>
                    <th>state name</th>
                    <th>district</th>
                    <th>pincode</th>
                    <th>location</th>
                    <th>name</th>

                </thead>
                <tbody>
                    <tr *ngFor="let index of location.centers">
                        <td>{{index.center_id}}</td>
                        <td>{{index.state_name}}</td>
                        <td>{{index.district_name}}</td>
                        <td>{{index.pincode}}</td>
                        <td>{{index.location}}</td>
                        <td>{{index.name}}</td>

                    </tr>
                </tbody>
            </table>
</div>
        <!-- </div>
    </div>
</div> -->