<nav  class="navbar navbar-expand-md  navbar-dark bg-dark">
  <a class="navbar-brand"href="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZFX0SWQ2BfyaXZGsPbps9w9m-HxuwCgOXqE9r3peJveg9JOnR1xbpzjThotcfyyeHpyo&usqp=CAU" width="20%" height="40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbars">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="collapsibleNavbars">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" routerLink="home">Details By District </a></li>
    <li class="nav-item"><a class="nav-link" routerLink="pincode">Details By Pincode</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="location">Details By Geolocation</a></li>
   
  </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
